/* var.css */

/* 全局禁用文本选择和复制 */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

/* 禁用右键菜单和复制快捷键 */
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* 隐藏链接下划线 */
.vp-doc a {
    text-decoration: none;
}

/* 设置正文字体为霞鹜文楷 */
.vp-doc {
  font-size: 1.05em;
    font-family: "LXGW WenKai", "霞鹜文楷", "LXGW WenKai Screen", "霞鹜文楷 Screen", serif;
}

